.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
}


main {
  flex-grow: 1;
  overflow: auto; /* This allows scrolling if content exceeds viewport */
  padding: 20px;
}
